body {
    position: relative;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    background-color: aqua;
}

body > div{
	background-color: white;
	border-radius: 10px;
	
}
#title{
	text-align: center;
	color:white;
	border:2px solid green; 
	font-size: 3em;
	text-decoration: underline;
}

.a_post + .a_post{
	margin-bottom: 15px;
}
.subject{
	color:green;
	font-size: 1.4em;
	text-decoration: none;
}
.subject:hover{
	color:red;
	font-weight: bold;
}
.the_body{
	font-size: 1.1em;
	font-family: arial, serif;
}